@model MovieCentralOne.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Birth Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Name</td>
            <td>@Model.BirthDate</td>
        </tr>
    </tbody>
</table>